@import 'bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto|Six+Caps');

$sizeXS: 480px;
$sizeSM: 768px;
$sizeMD: 992px;
$sizeLG: 1200px;

$color-black: rgba(1,0,12,1);
$color-dark: rgba(46,53,61,1);
$color-dark-light: rgba(65,71,78,1);
$color-main: rgba(144,24,28,1);
$color-main-dark: rgba(118,20,23,1);
$color-gray: rgba(237,238,238,1);
$color-gray-dark: rgba(140,140,140,1);
$color-white: rgba(252,252,252,1);

$font-logo: 'Six Caps', sans-serif;
$font-default: 'Roboto', sans-serif;

$headerHeight: 40px;
$headerTopPadding: 15px;
$headerBottomPadding: 5px;
$headerBoxHeight: $headerHeight + $headerTopPadding + $headerBottomPadding;

/* MIXINS */
@mixin box-shadow($params) {
	-webkit-box-shadow: #{$params};
	-moz-box-shadow: #{$params};
	box-shadow: #{$params};
}

@mixin hover-transition($property){
	@include transition($property 0.3s $ease-in-out-quad);
}