@import 'common.scss';

.main {
	.content {
		.slideshow {
			@include margin(70px 0px 20px 0px);
			height: 400px;
			width: 100%;
			
			.slideshow_item {
				display: inline-block;
				position: absolute;
				height: 400px;
				overflow: hidden;
				text-align: center;
				left: 0px;
				right: 0px;
				@include transition(all linear 0.3s);

				img {
					display: inline-block;
					max-width: 80vw;
					&:hover {
						cursor: pointer;
					}
				}

				&.current {
					z-index: 2;
					pointer-events: none;
					img {
						pointer-events: none;
					}
				}

				&.previous {
					@include transform(scale(0.8) translate(-25%));
				}

				&.next {
					@include transform(scale(0.8) translateX(25%));
				}

				&.next, &.previous {
					z-index: 1;
					img:hover {
						cursor: pointer;
					}
				}

				&.ng-enter, &.ng-leave {
					z-index: 0;
				}
			}
		}
		.movie-list {
			display: flex;
			flex-wrap: wrap;
			.movie-item {
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				text-align: center;
				border: 1px solid $color-gray;
				@include box-sizing(border-box);
				height: 250px;
				flex: 46%;
				margin: 2%;
				height: 100%;
				padding: 2%;
				overflow: hidden;
				&:hover {
					@include box-shadow(0px 2px 2px -2px $color-gray-dark);
				}

				h2 {
					margin-top:5px;
					margin-bottom: 10px;
				}
			}
		}
	}
}