@import 'common.scss';

.main {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100%;
    font-family: $font-default;
    color: $color-dark;
    background-color: $color-white;

    a{
        text-decoration: none;
        color: $color-dark;
        &:hover, &:visited {
            text-decoration: none;
            color: $color-dark;
        }
        &:hover {
          opacity: 0.8;  
        }

        .label {
            font-family: $font-default;
        }
    }

    .content {
        @include margin($headerBoxHeight null null null);
    }
}

@import 'header.scss';
@import 'sidescreen.scss';
@import 'responsive.scss';